
font-family: @import url(https://fonts.googleapis.com/css2?family=Yesteryear&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yesteryear', handwriting;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 25px 0;
}
.itemCard, .singleItem {
  width: 350px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.itemCard:hover {
  box-shadow: 0 0 3px black;
}

 img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}


a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: inherit;
}

a:hover {
  color: rgb(94, 30, 30);
}

.links {
  display: flex;
  margin: 0 auto;
  gap: 25px;
  justify-content: center;
}

button {
  padding: 5px 10px;
  background-color: white;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: antiquewhite;
}